################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DemoAdmin/.vs/DemoAdmin/FileContentIndex/0b4d14ff-99e2-4aa7-9465-fe7b6405cfa4.vsidx
