<script src="https://kit.fontawesome.com/8502367fe4.js" crossorigin="anonymous"></script>
<div class="side-nav">
    <div class="side-nav-inner">
        <ul class="side-nav-menu scrollable">
            <li>
                <a href="/admin" data-href="/admin/OrderStatistic/edit" class="br-menu-link">
                    <i class="fa fa-file-text-o"></i>
                    <span>Thống kê đơn hàng, doanh thu</span>
                </a>
            </li>

            <li>
                <a href="/admin/order/index" data-href="/admin/order/edit//admin/order/details" class="br-menu-link">
                    <i class="fa fa-edit"></i>
                    <span>Quản lý Đơn hàng</span>
                </a>
            </li>

            <li>
                <a href="/admin/account/Users"
                    data-href="/admin/account/AddUsers//admin/account/AssignRoles//admin/account/UserDetails"
                    class="br-menu-link">
                    <i class="fa fa-group"></i>
                    <span>Quản lý Người dùng</span>
                </a>
            </li>

            <li>
                <a href="/admin/account/Groups"
                   data-href="/admin/account/AddUsers//admin/account/AssignRoles//admin/account/UserDetails"
                   class="br-menu-link">
                    <i class="fa fa-group"></i>
                    <span>Quản lý Nhóm quyền</span>
                </a>
            </li>

            <li>
                <a href="/admin/banner/index" data-href="/admin/banner/Edit//admin/banner/details" class="br-menu-link">
                    <i class="fa fa-windows"></i>
                    <span>Quản lý Banner</span>
                </a>
            </li>

            <li>
                <a href="/admin/product/index" data-href="/admin/product/Edit//admin/product/details"
                    class="br-menu-link">
                    <i class="fa fa-book"></i>
                    <span>Quản lý Sản phẩm</span>
                </a>
            </li>

            <li>
                <a href="/admin/news/index" data-href="/admin/news/Edit//admin/news/details" class="br-menu-link">
                    <i class="fa fa-child"></i>
                    <span>Quản lý Tin tức</span>
                </a>
            </li>

            <li>
                <a href="/admin/Hotline/index" data-href="/admin/Hotline/edit" class="br-menu-link">
                    <i class="fa-solid fa-calendar-days"></i>
                    <span>Quản lý Hotline</span>
                </a>
            </li>

            @* <li>
                <a href="#" class="br-menu-link">
                    <i class="fa fa-android"></i>
                    <span>Danh mục quản trị</span>
                </a>
            </li> *@
        </ul>
    </div>
</div>
