@{
    ViewBag.Title = "Danh sách tài khoản";
}
<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item">
                <i class="anticon anticon-home m-r-5"></i>Home
            </a>
            <span class="breadcrumb-item active">Danh sách Nhóm quyền : </span>
        </nav>
    </div>
</div>
<div class="card mt-2 mb-2 shadow-base">
    <div class="card-body pb-0">
        <a href="#" class="btn btn-sm bd bg-success tx-white pointer">Thêm mới</a>
        <table class="table mg-b-0" cellspacing="0">
            <tr>
                <th>STT</th>
                <th>Tên nhóm</th>
                <th></th>
            </tr>

            <tr class="stat even">
                <td class="ac">1</td>
                <td>
                    <a href="#">Admin</a>
                </td>
                <td>
                    <ul style="margin: 0; padding-left: 20px;">
                        <li>Quản trị</li>
                    </ul>
                </td>
            </tr>

            <tr class="stat even">
                <td class="ac">2</td>
                <td>
                    <a href="#">Sale</a>
                </td>
                <td>
                    <ul style="margin: 0; padding-left: 20px;">
                        <li>Quản lý Sản phẩm</li>
                        <li>Quản lý Đơn hàng</li>
                        <li>Quản lý Banner</li>
                        <li>Quản lý Hotline</li>
                        <li>Quản lý Tin tức</li>
                    </ul>
                </td>
            </tr>
        </table>
        <div class="text-center">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
