@{
    ViewBag.Title = "Danh sách tài khoản";
}

<div class="card mt-2 mb-2 shadow-base">
    <div class="card-body pb-0">
        <table class="table mg-b-0" cellspacing="0">
            <tr>
                <th>STT</th>
                <th>Tên nhóm</th>
                <th></th>
            </tr>

            <tr class="stat even">
                <td class="ac">1</td>
                <td>
                    <a href="#">Admin</a>
                </td>
                <td>
                    <ul style="margin: 0; padding-left: 20px;">
                        <li>Quản trị</li>
                    </ul>
                </td>
            </tr>

            <tr class="stat even">
                <td class="ac">2</td>
                <td>
                    <a href="#">Sale</a>
                </td>
                <td>
                    <ul style="margin: 0; padding-left: 20px;">
                        <li>Quản lý Sản phẩm</li>
                        <li>Quản lý Đơn hàng</li>
                        <li>Quản lý Banner</li>
                        <li>Quản lý Hotline</li>
                        <li>Quản lý Tin tức</li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>
</div>
