@{
    ViewData["Title"] = "Danh sách bài giảng";
}
@section Button {
    <a href="#" class="btn btn-primary btn-sm pull-right">Thêm mới</a>
}
<div class="card mt-2 mb-2 shadow-base pd-b-10">
    <div class="card-body pb-0">
        <table class="table mg-b-0" cellspacing="0">
            <tr>
                <th>STT</th>
                <th>Tên bài giảng</th>
                <th>Nội dung</th>
                <th>Bài giảng thuộc khoá</th>
                <th>Ngày tạo</th>
                <th>Trạng thái</th>
            </tr>
            <tr class="stat even">
                <td class="ac">1</td>
                <td><a href="#">Bài giảng 1</a></td>
                <td><img src="/images/lesson1.jpg" class="img64x64" /></td>
                <td>Khoá học A</td>
                <td>2025-03-11</td>
                <td>
                    <div class="d-flex align-items-center">
                        <div class="badge badge-success badge-dot m-r-10"></div>
                        <div>Active</div>
                    </div>
                </td>
            </tr>
            <tr class="stat even">
                <td class="ac">2</td>
                <td><a href="#">Bài giảng 2</a></td>
                <td><img src="/images/lesson2.jpg" class="img64x64" /></td>
                <td>Khoá học B</td>
                <td>2025-03-10</td>
                <td>
                    <div class="d-flex align-items-center">
                        <div class="badge badge-danger badge-dot m-r-10"></div>
                        <div>Inactive</div>
                    </div>
                </td>
            </tr>
        </table>
        <div class="text-center">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
